@{
    ViewData["Title"] = "About";
}
<asp:content contentplaceholderid="head" runat="server">
    <link rel="stylesheet" href="~/about/css/main.css" />

</asp:content>
<!-- Highlights -->
<section class="wrapper">
    <div class="inner">
        <header class="special">
            <h2>About Us</h2>
            <p>Quality Books is best for buying and exploring books online, there is no one like us.</p>
        </header>
        <div class="highlights">
            <section>
                <div class="content">
                    <header>
                        <h3>We have all different kind of books. Recent to old all categories. We ship worldwide, with all deliveries shipped witin 2 days</h3>
                    </header>
                </div>
            </section>

            <section>
                <div class="content">
                    <header>
                        <h3>Our Customer satisfaction score is 100%. We dont leave any stone unturned in satisfying our customers.</h3>
                    </header>
                </div>
            </section>

            <section>
                <div class="content">
                    <header>
                        <h3>Connect with us on Facebook, If you have any feedback please come back to us.</h3>
                    </header>
                </div>
            </section>
        </div>
    </div>
</section>
<asp:content contentplaceholderid="bodyJS" runat="server">
    <script src="~/about/js/jquery.min.js"></script>
    <script src="~/about/js/browser.min.js"></script>
    <script src="~/about/js/breakpoints.min.js"></script>
    <script src="~/about/js/util.js"></script>
    <script src="~/about/js/main.js"></script>
</asp:content>
